<div class="zig-zag-section">
  <div class="heading-main">
    {% if section.settings.heading != blank %}
      <h1>{{ section.settings.heading }}</h1>
    {% endif %}
  </div>
{% for block in section.blocks %}
 <div class="zig-zag-content">
    <div class="container">
	  <div class="zigzag-inner">
      {% capture image_layout %}
            <div class="zigzag-left zigzag_img{{ forloop.index }}">
                <div class="img-zig-zag">
                    {%- if block.settings.image != blank -%}
                        <img src="{{ block.settings.image | img_url:'master' }}" alt="img-zigzag">
                    {%- endif -%}
                </div>
            </div>
      {% endcapture %}

      {% if block.settings.layout == 'left' %}
          {{ image_layout }}
      {% endif %}

      <div class="zigzag-right zigzag_{{ forloop.index }}">
        <div class="zigzag-right_content" style="text-align: {{ block.settings.alignment }};">
          <div class="zigzag-title">
            {% if block.settings.heading != blank %}
              <h2 class="abt-title">{{ block.settings.heading }}</h2>
            {% endif %}
          </div>
          <div class="zigzag-content text-global">
            {% if block.settings.content != blank %}
             {{ block.settings.content }}
            {% endif %}
          </div>
          <div class="zigzag-button">
            {% if block.settings.button-text != blank %}
             <a href="{{ block.settings.link }}">{{ block.settings.button-text }}</a>
            {% endif %}
          </div>
        </div>
      </div>

      {% if block.settings.layout == 'right' %}
          {{ image_layout }}
      {% endif %}
      </div>
    </div>
 </div>
{% endfor %}
</div>

{% schema %}
  {
    "name": "Zig zag",
	"class":"zig-zag-wrapper",
    "settings": [
		  {
            "type": "text",
            "id": "heading",
            "label": "Heading"
		  }
	],
	"blocks": [
      {
        "type": "zig-zag",
        "name": "zig-zag",
        "settings": [
		  {
            "type": "select",
            "id": "layout",
            "label":"Image alignment",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label":"Left"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "select",
            "id": "alignment",
            "label":"Text alignment",
            "default": "center",
            "options": [
              {
                "value": "left",
                "label":"Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
		  },
		  {
			"type": "text",
            "id": "heading",
            "label": "Heading"
		  },
		  {
			"type": "html",
            "id": "content",
            "label": "Content"
		  },
		  {
			"type": "text",
            "id": "button-text",
            "label": "Button Text"
		  },
		  {
			"type": "url",
            "id": "link",
            "label": "Button URL"
		  }
        ]
      }
	],
      "presets": [
        {
          "name": "Zig Zag Section"
        }
      ]
  }
{% endschema %}

<style>
  .zig-zag-section h2 {
    font-size: 40px;
  }

  .zig-zag-section p {
    font-size: 20px;
  }

  .zig-zag-section a {
    text-decoration: none;
    background-color: #363535;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    display: inline-block;
  }

  .container {
    padding: 0 25px;
  }

  .zig-zag-section {
    margin: 80px 0px;
  }

  .zig-zag-section .zigzag-inner {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
  }

  .zig-zag-section .zigzag-right {
    width: 50%;
  }

  .zig-zag-section .zigzag-left {
    width: 50%;
  }

  .zig-zag-section .zigzag-right_content {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 50px;
  }

  .zig-zag-section .zigzag-button {
    margin-top: 30px;
  }

  .zig-zag-section .img-zig-zag img {
    height: auto;
    width: 100%;
    object-fit: cover;
  }
  .zig-zag-section .zigzag-inner {
    padding-block: 20px;
  }
  .zig-zag-section .zigzag-inner .zigzag-content,.zig-zag-section .zigzag-inner .zigzag-button {
    margin-top: 30px;
  }

  @media screen and (max-width: 1024px) {

    .zig-zag-section {
      margin: 40px 0px;
    }

    .zig-zag-section h2 {
      font-size: 38px;
    }

    .zig-zag-section p {
      font-size: 16px;
    }

    .zig-zag-section .zigzag-content p {
      margin: 0;
    }

    .zig-zag-section h2.abt-title {
      margin-top: 0;
      margin-bottom: 10px;
    }

    .zigzag-right_content {
      padding: 0 20px;
    }

    .zig-zag-section .zigzag-button {
      margin-top: 20px;
    }

    .zig-zag-section .zigzag-inner {
    padding-block: 0px;
  }
  .zig-zag-section .zigzag-inner .zigzag-content,.zig-zag-section .zigzag-inner .zigzag-button {
    margin-top: 20px;
  }
  }

  @media screen and (max-width: 900px) {
    .zig-zag-section p {
      font-size: 18px;
    }

    .zig-zag-section .zigzag-inner {
      gap: 35px
    }

    .zig-zag-section .zigzag-right {
      width: 100%;
      order: 2;
    }

    .zig-zag-section .zigzag-left {
      width: 100%;
      order: 1;
    }

    .zig-zag-section .zigzag-right_content {
      max-width: 100%;
      padding: 0px;
    }

    .zig-zag-section h2.abt-title {
      margin-bottom: 15px;
    }

    .zig-zag-section .zigzag-button {
      margin-top: 25px;
    }
  }

  @media screen and (max-width: 768px) {
    .zig-zag-section h2 {
      font-size: 34px;
    }

    .zig-zag-section p {
      font-size: 16px;
    }

    .zig-zag-section .zigzag-inner {
      gap: 30px;
    }
  }

  @media screen and (max-width: 575px) {
    .container {
      padding: 0 20px;
    }

    .zig-zag-section h2 {
      font-size: 32px;
    }

    .zig-zag-section p {
      font-size: 14px;
      line-height: 18px;
    }

    .zig-zag-section .zigzag-button a {
      padding: 12px;
      font-size: 16px;
    }

    .zig-zag-section h2.abt-title {
      margin-bottom: 12px;
    }

    .zig-zag-section .zigzag-button {
      margin-top: 20px;
    }

  }

  @media screen and (max-width: 425px) {
    .zig-zag-section .zigzag-inner {
      gap: 20px;
    }

    .locale-selectors__selector {
      width: 100% !important;
    }
  }
</style>
